.white{
color: #ffffff !important ;
}

.white-background{
background-color: #ffffff !important ; 
}

.dark{
color: #000000 !important ;
}

.dark-background{
background-color: #000000 !important ; 
}


.pink-soft{
color: #f3d0e6 !important ;
}

.pink-soft-backgorund{
background-color: #f3d0e6 !important ; 
}
