* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login {
    display: flex;
    min-height: 100vh;
}

.login-left {
    width: 40%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-box {
    width: 100%;
    max-width: 420px;
}

.login-left h2 {
    color: #F851B5;
    margin-bottom: 10px;
}

.login-left p {
    margin-bottom: 24px;
}

.login-right {
    width: 90%;
    background: linear-gradient(135deg, #E82A67, #E82A67);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
}

.login-right-img {
    max-width: 60%;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .login {
        flex-direction: column;
    }

    .login-left,
    .login-right {
        width: 100%;
    }

    .login-right {
        display: none;
    }
}