.login {
    display: flex;
    height: 100vh;
}

.login-left {
    width: 40%;
    background: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-left h2 {
    color: #F851B5;
}

.login-right {
    width: 60%;
    background: linear-gradient(135deg,#F851B5,#F077C5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    background-image: url('../../ativos/imagens/logo.png');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    position: relative;
}

.login-right p {
    position: relative; 
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

/* INPUT */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}




@media (max-width: 768px) {
    .login {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-left,
    .login-right {
        width: 100%;
        padding: 30px;
        justify-content: center;
        align-items: center;
    }

    .login-right {
       display: none;
    }
}