
/* Logo */
.logo-box {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-custom-link {
    font-weight: 600;
    transition: 0.2s;
    border-radius: 8px;
    margin: 0 4px;
}

.nav-custom-link:hover {
    background-color: #f3d0e6; 
}

.points-container {
    box-shadow: 0 2px 5px rgba(240, 119, 197, 0.1);
}

/* Avatar */
.avatar-small {
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
}


